@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "قفل اکانت";
}

<hgroup>
    <h1 class="text-danger">اکانت شما قفل شده است</h1>
    <h2 class="text-danger">اکانت شما قفل شده است, لطفا بعد از 5 دقیقه مجددا تلاش نمایید.</h2>
</hgroup>
