@model IEnumerable<AttendanceApp.Models.inout>
@{
    /**/

    /**/

    ViewBag.Title = "تایم شیت ماهانه";
    Layout = "~/Views/Shared/_Layout -UserProfile.cshtml";
}

<h2>MonthlyReport</h2>



<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("MonthlyReport", "User"))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
        <input id="date-input" name="startdate" class="form-control" />
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>

    <div class="input-group">
        <input id="date-input" name="enddate" class="form-control" />
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="نمایش" class="btn btn-success pull-left" />
        </div>
    </div>

}
